/* General features */

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

p,
h1,
h2,
h3 {
  margin: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 320px;
  padding: 0 16px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }
}

/* Header */
.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-navigation-list,
.header-address {
  display: none;
}
.burger-btn {
  padding: 0;
  border: none;
  background-color: transparent;
}
.burger-icon {
  display: block;
  fill: #2f2f37;
}

.logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.header-logo {
  display: block;
  padding: 16px 0;
}

.logo-studio-header {
  color: #2e2f42;
}

/* mobile menu */
.container {
}
.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.mobile-menu-container {
  position: relative;
  padding-top: 72px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-left: 16px;
}
.mobile-menu-close-button {
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #f4f4fd;
  stroke-width: 1px;
  stroke: rgba(0, 0, 0, 0.1);
  width: 24px;
  height: 24px;
  padding: 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-close-button:hover,
.mobile-menu-close-button:focus {
  background-color: #404bbf;
  border: none;
}
.mobile-menu-nav {
  margin-bottom: auto;
}

.mobile-menu-navigation-link {
  display: block;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.12;
  letter-spacing: 0.02em;
  color: #2e2f42;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu-navigation-link.current {
  color: #404bbf;
}

.mobile-menu-navigation-list {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 40px;
  margin-right: 0;
}
.mobile-menu-address {
  font-style: normal;
  display: block;
}
.mobile-menu-address-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 48px;
}
.mobile-menu-address-link {
  display: block;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu-address-link.current-one {
  color: #4d5ae5;
}

.mobile-menu-smm-icons-list {
  display: flex;
  gap: 40px;
  height: 40px;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin: 0;
}

.mobile-menu-smm-icons-list-item {
  width: 40px;
  height: 40px;
}

.mobile-menu-smm-icons-list-link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-smm-icons-list-link:hover,
.mobile-menu-smm-icons-list-link:focus {
  background-color: #404bbf;
}
.mobile-menu-iconssmm {
  fill: #f4f4fd;
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
  .burger-btn {
    display: none;
  }

  .header-navigation {
    display: flex;
    align-items: center;
  }

  .header-navigation-list {
    display: flex;
    gap: 40px;
    align-items: center;
  }
  .header-address {
    font-style: normal;
    display: block;
  }
  .header-logo {
    padding: 24px 0;
    margin-right: 120px;
  }

  .header-navigation-link {
    display: block;
    padding: 24px 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .header-navigation-link.current {
    position: relative;
    color: #404bbf;
  }

  .header-navigation-link.current::after {
    content: "";
    width: 100%;
    height: 4px;
    border-radius: 2px;
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 48px;
    height: 4px;
    background-color: #404bbf;
    display: block;
    padding-bottom: 0;
  }

  .header-navigation-link:hover,
  .header-navigation-link:focus {
    color: #404bbf;
  }

  .header-address {
    font-style: normal;
    display: block;
  }

  .header-address-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .header-address-link {
    display: block;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #434455;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .header-address-link:hover,
  .header-address-link:focus {
    color: #404bbf;
  }
}
@media screen and (min-width: 1158px) {
  .header-logo {
    margin-right: 76px;
  }

  .header-address-list {
    flex-direction: row;
    align-items: center;
    gap: 40px;
  }

  .header-address-link {
    padding: 24px 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
}

/* Sections common features */

.section-common-features {
  margin: 0;
  padding-top: 96px;
  padding-bottom: 96px;
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 72px;
  text-transform: capitalize;
}

.section-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

@media screen and (min-width: 1158px) {
  .section-common-features {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}

/* HERO section one*/

.section-one-background {
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office-mobile.jpg);
  background-color: #2e2f42;
  padding: 72px 0;

  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  max-width: 320px;
  margin: auto;
}
@media screen and (min-resolution: 2x) {
  .section-one-background {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office-mobile-2x.jpg);
  }
}

.main-title {
  font-weight: 700;
  font-size: 36px;

  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #ffffff;
  max-width: 216px;

  margin-bottom: 72px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.main-btn {
  display: block;
  font-weight: 500;
  font-size: 16px;

  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: #4d5ae5;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  min-width: 169px;
  height: 56px;
  border-radius: 4px;
  border: none;
  padding: 16px 32px;

  margin-right: auto;
  margin-left: auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main-btn:hover,
.main-btn:focus {
  background-color: #404bbf;
}

@media screen and (min-width: 768px) {
  .section-one-background {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office-tablet.jpg);
    max-width: 768px;
    padding: 112px 0;
  }

  @media screen and (min-resolution: 2x) {
    .section-one-background {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/people-office-tablet-2x.jpg);
    }
  }

  .main-title {
    max-width: 496px;
    margin-bottom: 36px;
    font-size: 56px;
  }
}

@media screen and (min-width: 1158px) {
  .section-one-background {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office-desk.jpg);
    max-width: 1158px;
    padding: 188px 0;
  }
  @media screen and (min-resolution: 2x) {
    .section-one-background {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/people-office-desk-2x.jpg);
    }
  }

  .main-title {
    margin-bottom: 48px;
  }
}

/* Description of advantages section two*/

.section-two-subtitle {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;
}
.section-text {
  font-weight: 500;
}
.section-two-list {
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
  margin: 0 auto;
}
.section-two-list-item {
  width: 100%;
}

.section-two-icons {
  display: none;
}

.section-two-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

@media screen and (min-width: 768px) {
  .section-two-list {
    flex-direction: row;
    column-gap: 24px;
    row-gap: 72px;
  }
  .section-two-subtitle {
    text-align: left;
  }

  .section-two-list-item {
    display: inline-block;
    width: calc((100% - 24px) / 2);
  }
}

@media screen and (min-width: 1158px) {
  .section-two-subtitle {
    font-weight: 500;
    font-size: 20px;
  }
  .section-text {
    font-weight: 400;
  }
  .section-two-list {
    gap: 24px;
  }

  .section-two-list-item {
    flex-basis: calc((100% - 72px) / 4);
  }

  .section-two-icons {
    display: flex;
    justify-content: center;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    width: 100%;
    height: 112px;
    background: #f4f4fd;

    margin-bottom: 8px;
    align-items: center;
  }
}

/* Our Team section three*/

.section-three-background {
  background-color: #f4f4fd;
}

.section-three-list {
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
  align-items: center;
  justify-content: center;
}

.section-three-list-item {
  background-color: #ffffff;
  border-radius: 0 0 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  max-width: 264px;
}

.section-three-list-item-card {
  padding: 32px 0;
}

.section-three-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  margin-bottom: 8px;
}
.section-three-text {
  font-weight: 400;
  text-align: center;
  margin-bottom: 8px;
}

.smm-icons-list {
  display: flex;
  gap: 24px;
  height: 40px;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin: 0;
}

.smm-icons-list-item {
  width: 40px;
  height: 40px;
}

.smm-icons-list-link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.smm-icons-list-link:hover,
.smm-icons-list-link:focus {
  background-color: #404bbf;
}

.iconssmm {
  fill: #f4f4fd;
}

@media screen and (min-width: 768px) {
  .section-three-list {
    flex-direction: row;
    column-gap: 24px;
    row-gap: 64px;
  }
}
@media screen and (min-width: 1158px) {
  .section-three-list-item {
    flex-basis: calc((100% - 72px) / 4);
    max-width: 264px;
  }
}

/* Our Portfolio section four*/

.section-four-text {
  font-weight: 400;
  text-align: left;
}

.section-four-list {
  display: flex;
  flex-wrap: wrap;
  gap: 48px;
  align-items: center;
  justify-content: center;
}

.section-four-list-item {
  max-width: 288px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.section-four-list-item:hover {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.section-four-list-item:hover .hiding-text {
  transform: translateY(0);
}

.block-img-hiding-text {
  position: relative;
  overflow: hidden;
}

.hiding-text {
  position: absolute;
  top: 0;
  background: #4d5ae5;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.section-four-list-item-card {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.section-four-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.section-four-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

@media screen and (min-width: 768px) {
  .section-four-list {
    flex-direction: row;
    column-gap: 24px;
    row-gap: 72px;
  }
  .section-four-list-item {
    flex-basis: calc((100% - 48px) / 2);
  }
}
@media screen and (min-width: 1158px) {
  .section-four-list {
    row-gap: 48px;
  }

  .section-four-list-item {
    flex-basis: calc((100% - 72px) / 3);
  }
}

/* Footer */

.footer-background {
  background-color: #2e2f42;
}

.logo-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  margin-bottom: 72px;
}
.footer-logo {
  display: inline-block;
}

.logo-studio-footer {
  color: #f4f4fd;
}

.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  max-width: 288px;
}
.smm-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  margin-bottom: 72px;
}
.footer-h-smm {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
}

.footer-smm-list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 16px;
  max-width: 208px;
  height: 40px;
}

.footericonsmm {
  fill: #f4f4fd;
}

.footer-smm-link {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-smm-link:hover,
.footer-smm-link:focus {
  background-color: #31d0aa;
}

.footer-subscribe-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
.footer-s-text {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
}

.footer-input {
  border: 1px solid #ffffff;
  border-radius: 4px;
  width: 288px;
  height: 40px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: transparent;
  padding-top: 8px;
  padding-left: 16px;
  padding-bottom: 8px;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #ffffff;
  margin-bottom: 16px;
  margin-left: auto;
  margin-right: auto;
}
input::placeholder {
  color: #ffffff;
}
.footer-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  border-radius: 4px;
  padding: 8px 24px;
  min-width: 165px;
  height: 40px;
  background: #4d5ae5;
  border: none;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #ffffff;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin: 0 auto;
}

.footer-btn:hover,
.footer-btn:focus {
  background-color: #404bbf;
}

.footer-avia {
  fill: #fff;
  margin-left: 16px;
}

@media screen and (min-width: 768px) {
  .footer-text {
    max-width: 264px;
  }
  .footer-container {
    padding: 0 108px;
  }
  .logo-smm-block {
    display: flex;
  }
  .logo-block {
    display: block;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 16px;
    margin-right: 24px;
    margin-bottom: 72px;
  }
  .footer-logo {
    align-items: flex-start;
    margin-bottom: 16px;
  }
  .smm-block {
    justify-content: start;
    align-items: start;
  }
  .footer-h-smm {
    align-items: flex-start;
  }
  .footer-subscribe-block {
    display: inline-block;
    margin-right: 0;
    padding: 0;
    max-width: 453px;
  }
  .footer-s-text {
    align-items: flex-start;
    margin-bottom: 16px;
  }

  .footer-form {
    display: flex;
    flex-direction: row;
    gap: 24px;
    justify-content: center;
    align-items: center;
  }
  .footer-input {
    width: 264px;

    margin-bottom: 0;
  }
}
@media screen and (min-width: 1158px) {
  .logo-block {
    margin-right: 120px;
    margin-bottom: 0;
    width: 264px;
  }
  .smm-block {
    margin-bottom: 0;
    width: 208px;
  }
  .footer-container {
    display: flex;
    margin: 0;
  }
  .footer-subscribe-block {
    display: inline-block;
    margin-left: 80px;
    padding: 0;
    width: 453px;
  }
  .footer-s-text {
    align-items: flex-start;
    margin-bottom: 16px;
  }

  .footer-form {
    display: flex;
    flex-direction: row;
    gap: 24px;
    justify-content: center;
    align-items: center;
  }
  .footer-input {
    margin-bottom: 0;
  }
}

/* Modal  */
.modal-overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  position: fixed;
  top: 0;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal {
  width: 408px;
  min-height: 584px;
  border-radius: 4px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  background: #fcfcfc;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 72px 24px 24px 24px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-btn {
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  top: 24px;
  right: 24px;
  border-radius: 50%;
  background-color: #e7e9fc;
  stroke-width: 1px;
  stroke: rgba(0, 0, 0, 0.1);
  width: 24px;
  height: 24px;
  padding: 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
  background-color: #404bbf;
  border: none;
}
.cruze {
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-btn:hover,
.modal-close-btn:focus .cruze {
  fill: #ffffff;
}
.form-title {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 16px;
}
.modal-form {
}
.modal-input-wrap {
  margin-bottom: 8px;
}
.modal-label {
  display: block;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-bottom: 4px;
}
.input-icon {
  position: relative;
}
.modal-input {
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 100%;
  height: 40px;
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input:focus {
  border-color: #4d5ae5;
}

.modal-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input:focus + .modal-icon {
  fill: #4d5ae5;
}

.modal-input-textarea {
  margin-bottom: 16px;
}
textarea::placeholder {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}
.modal-label {
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-bottom: 4px;
}
.modal-input-wrap {
  position: relative;
  margin-bottom: 8px;
}
.modal-icon {
  fill: #2e2f42;
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
}
.modal-input-textarea {
  margin-bottom: 16px;
}
.modal-btn {
  display: block;
  margin: 0 auto;
  border-radius: 4px;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
  border: none;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover,
.modal-btn:focus {
  background-color: #404bbf;
}

.modal-textarea {
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  background-color: transparent;
  outline: transparent;
  padding: 8px 16px;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-textarea:focus {
  border-color: #4d5ae5;
}
.modal-field {
  margin-bottom: 24px;
}
.modal-check-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;

  align-items: center;
  a {
    line-height: 1.33333;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #4d5ae5;
  }
}

.modal-checkbox {
  display: inline-flex;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  margin-right: 8px;
  justify-content: center;
  align-items: center;
  fill: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
span {
  display: inline-flex;
}

.modal-check:checked + .modal-check-text span {
  width: 16px;
  height: 16px;
  border-radius: 2px;
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}
.privacy-link {
  color: #4d5ae5;
}
